body {
	background-color: black;
}

h1 {
	color: white;
	text-align:center;
}

p {
	
	color: white;
	font-ize: 20px;
}

ol {
	
	color: white;

}

h2 {
	
	color:white;

}

ul {
	
	color: white;

}
